{% extends "network/layout.html" %}

{% block body %}

    <div class="container-fluid p-4">        
        <div class="container-fluid" id="page-container">

            <!-- single post design -->
            <div class="container-fluid" id="outer-container">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img src="https://picsum.photos/50.jpg" alt="profile image" class="rounded-circle">
                    </div>
                    <div class="col-md-11 col-sm-10">
                        <div id="username">username</div>
                        <span id="timesamp"><small>30 minutes ago</small></span>
                        <div id="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div id="post-footer">
                            <span>
                                <button>like</button>
                                <button>count</button>
                                <button>edit</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- single post design -->
            <div class="container-fluid" id="outer-container">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img src="https://picsum.photos/50.jpg" alt="profile image" class="rounded-circle">
                    </div>
                    <div class="col-md-11 col-sm-10">
                        <div id="username">username</div>
                        <span id="timesamp"><small>30 minutes ago</small></span>
                        <div id="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div id="post-footer">
                            <span>
                                <button>like</button>
                                <button>count</button>
                                <button>edit</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- single post design -->
            <div class="container-fluid" id="outer-container">
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img src="https://picsum.photos/50.jpg" alt="profile image" class="rounded-circle">
                    </div>
                    <div class="col-md-11 col-sm-10">
                        <div id="username">username</div>
                        <span id="timesamp"><small>30 minutes ago</small></span>
                        <div id="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div id="post-footer">
                            <span>
                                <button>like</button>
                                <button>count</button>
                                <button>edit</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <!-- popup new post design -->

        <div class="new-post" >
            <div class="btn btn-outline-danger pr-1 pl-1 pt-0 pb-0 mb-2" id="close-new-post"><i class="bi bi-x-lg"></i></div>
            <form id="new-post-form">
                <div class="form-group">
                    <textarea class="form-control" id="new-post-text" placeholder="Share your thoughts" rows="5"></textarea>
                    <div class="btn btn-outline-primary m-2 pt-1 pb-1" id="post-new-post">Post</div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}