{% extends "network/layout.html" %}

{% block body %}
<span class="ml-3">
    <small>Followers:</small><span class="badge badge-light mr-2">{{followers}}</span>
    <small>Follows:</small><span class="badge badge-light mr-2">{{follows}}</span>
    
    {% if user != usr %}   

        <div class="btn btn-outline-warning btn-sm" id="unfollow" data-unfollow="{{usr.id}}" {% if not follow %} style="display: none";{% endif %}>UnFollow</div>

        <div class="btn btn-outline-success btn-sm" id="follow" data-follow="{{usr.id}}" {% if follow %} style="display: none";{% endif %}>Follow</div>
        
    {% endif %}
</span>       

    <div class="container-fluid mt-2" id="page-container">


    </div>
    
    <!-- pagination bar -->
    <footer>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
            <li class="page-item disabled" id="previous">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item disabled" id="next">
                <a class="page-link">Next</a>
            </li>
            </ul>
        </nav>
    </footer>
</div>
{% endblock %}