{% extends "network/layout.html" %}

{% block body %}
<span class="ml-3">
    <small>Followers:</small><span class="badge badge-light mr-2">4</span>
    <small>Follows:</small><span class="badge badge-light mr-2">34</span>
    <div class="btn btn-outline-success btn-sm">Follow</div>
    <div class="btn btn-outline-warning btn-sm">UnFollow</div>
</span>       
<div class="container-fluid p-4"> 
    <div class="container-fluid" id="page-container">



    </div>
</div>
{% endblock %}