{% extends "network/layout.html" %}

{% block body %}
<span class="ml-3">
    <small>Followers:</small><span class="badge badge-light mr-2">4</span>
    <small>Follows:</small><span class="badge badge-light mr-2">34</span>
    <div class="btn btn-outline-success btn-sm">Follow</div>
    <div class="btn btn-outline-warning btn-sm">UnFollow</div>
</span>       
<div class="container-fluid p-4"> 
    <div class="container-fluid" id="page-container">

        <!-- single post design -->
        <div class="container-fluid" id="outer-container">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <img src="https://picsum.photos/50.jpg" alt="profile image" class="rounded-circle">
                </div>
                <div class="col-md-11 col-sm-10">
                    <div id="username">username</div>
                    <span id="timesamp"><small>30 minutes ago</small></span>
                    <p id="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div id="post-footer">
                        <span>
                            <button class="btn btn-outline-dark btn-sm" style="border-style: none;"><i class="bi bi-heart"></i><span class="badge badge-light ml-2">24</span></button>
                            <button class="btn btn-outline-dark btn-sm"><i class="bi bi-pencil"></i>    </span></button>
                            
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- single post design -->
        <div class="container-fluid" id="outer-container">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <img src="https://picsum.photos/50.jpg" alt="profile image" class="rounded-circle">
                </div>
                <div class="col-md-11 col-sm-10">
                    <div id="username">username</div>
                    <span id="timesamp"><small>30 minutes ago</small></span>
                    <p id="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div id="post-footer">
                        <span>
                            <button class="btn btn-outline-dark btn-sm" style="border-style: none;"><i class="bi bi-heart"></i><span class="badge badge-light ml-2">24</span></button>
                            <button class="btn btn-outline-dark btn-sm"><i class="bi bi-pencil"></i>    </span></button>
                            
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- single post design -->
        <div class="container-fluid" id="outer-container">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <img src="https://picsum.photos/50.jpg" alt="profile image" class="rounded-circle">
                </div>
                <div class="col-md-11 col-sm-10">
                    <div id="username">username</div>
                    <span id="timesamp"><small>30 minutes ago</small></span>
                    <p id="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div id="post-footer">
                        <span>
                            <button class="btn btn-outline-dark btn-sm" style="border-style: none;"><i class="bi bi-heart"></i><span class="badge badge-light ml-2">24</span></button>
                            <button class="btn btn-outline-dark btn-sm"><i class="bi bi-pencil"></i>    </span></button>
                            
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr>

    </div>
</div>
{% endblock %}